<!DOCTYPE html>
<html lang="pl">

<head>
    <title>CDA-downloader</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/index.css" />
    <link rel="icon" type="image/x-icon" href="../../static/images/favicon.ico">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
    <nav class="top-container">
        <div id="Nazwa">
            <h1>CDA<span style="color:blue">.Downloader</span></h1>
        </div>
        <div>
            <h1>TBA</h1>
        </div>
        <div>
            <h1>TBA</h1>
        </div>
        <div>
            <h1>TBA</h1>
        </div>
    </nav>

    <div class="main-container">
        <div class="download-container">
            <h1 style="text-align: center;">CDA Video Downloader</h1>
            <p style="text-align: center;">Wprowadź link video które chcesz pobrać.<p></p>

            <div class="url-div">
                <input type="text" id="link_input_field" name="link_input_field" placeholder="URL">
            </div>

            <div class="button-div">
                <button id="download-button">Pobierz</button>
            </div>    
        </div>
    </div>

    <script>
        $(document).ready(function() {
            $('#download-button').click(function() {
                $.ajax({
                    type: 'POST',
                    url: '/download',  // Flask route URL
                    data: { link_input_field: $('#link_input_field').val() },  // Get input field value
                    success: function(response) {
                        alert(response);  // Display success message
                    },
                    error: function(xhr, status, error) {
                        console.error('Error:', error);  // Display error message
                    }
                });
            });
        });
    </script>











</body>

</html>